header, footer{
  width: 100%;
}
header {
    background-color: green;
}
footer {
    background-color: lightgreen;
}

.main_grid{
  display: grid;
  grid-template-columns: 150px 6fr;
  background-color: red;
  padding: 10px;
  height: 300px;
}
.grid_item1 {
  background-color: cyan;
}
.grid_item2 {
  background-color: lightblue;
}

.flex_container {
  display: flex;
  flex-direction: column;
}
.flex_container div{
  width: auto;
  height: 33%;
  background-color: aliceblue;
  border: 2px solid black;
}
