body {
    background-color: #001514;
    color: #DEDEE0;
}


/*.schriftfarbe,h1,h2,h3,h4,h5,h6 {
    color: #DEDEE0;
}
*/
#portfolio_picture {
    width: 50%;
    min-width: 400px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1F7A8C;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li {
    float: left;
}

.navbar a.active {
    background-color: #2A9134;
}

.navbar a:hover {
    background-color: #3FA34D;
}

.lebenslauf {
    outline-color: #3FA34D;
    background-color: rgba(42, 145, 52, 30%);
    padding: 10px;
    outline-style: solid;
    outline-width: 5px;
    max-width: 30%;
    min-width: 280px;
}
.lebenslauf_1_linie {
    display: flex;
    margin: 0px;
}
.lebenslauf_1_linie p {
    box-sizing: border-box ;
    width: 140px;
}

.labelwidth {
    width: 80px;
    display: inline-block;
}