/*Font importieren*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Hedvig+Letters+Serif:opsz@12..24&family=Poppins:wght@600&display=swap');

/*Allgemeiner Start über normalize.css*/
@import url(normalize.css); 

/*Schriftart*/
@import url(schriftart.css);

/*Styles für alle Seiten*/
@import url(hauptstyles.css);

/* Seitenstyles */
@import url(index.css);
@import url(ueber_mich.css);
@import url(feedback.css);
@import url(newsartikel.css);




/*Graceful Degration Prinzip*/

@media screen and (max-width: 1050px) { /*Tablet*/
    body{
        /*background-color: yellow;*/
    }
    .navbar {
        justify-content: left;
    } 

}


@media screen and (max-width: 450px) { /*Phone*/
    body{
       /* background-color: blue;*/
        
    }
    .navbar li {
        float: none;
    }
    .navbar {
        display: flow-root;
    } 
}

