#portfolio_picture {
    width: 50%;
    min-width: 400px;
}


.lebenslauf {
    outline-color: #3FA34D;
    background-color: rgba(42, 145, 52, 30%);
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header1 header2 header3"
    "pos11   pos12   pos13"
    "pos21   pos22   pos23";
    display: grid;
    justify-content: start;        
}

.lebenslauf_header1 {
    grid-area: header1;
}
.lebenslauf_header2 {
    grid-area: header2;
}
.lebenslauf_header3 {
    grid-area: header3;
}

.lebenslauf_pos11 {
    grid-area: pos11;
}
.lebenslauf_pos12 {
    grid-area: pos12;
}
.lebenslauf_pos13 {
    grid-area: pos13;
}

.lebenslauf_pos21 {
    grid-area: pos21;
}
.lebenslauf_pos22 {
    grid-area: pos22;
}
.lebenslauf_pos23 {
    grid-area: pos23;
}